// -----------------------------------------------------------------|
//	TYPE VARIABLES
// -----------------------------------------------------------------|
// Contains all typographic variables available throughout our project.

// -----------------------------------------------------------------|
// TYPE FONTS
// -----------------------------------------------------------------|

// COMMON WEBSAFE FONT STACKS
// ---------------------------------|
$type-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$type-tahoma: Tahoma, Verdana, Segoe, sans-serif;
$type-trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$type-georgia: Georgia, Times, "Times New Roman", serif;
$type-times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

// THEME FONTS
// ---------------------------------|
$type-text: $type-helvetica;
$type-heading: $type-text;
$type-icon: "FontAwesome", serif;

// -----------------------------------------------------------------|
// TYPE SCALE
// -----------------------------------------------------------------|
$type-micro: 8px;
$type-smallest: 10px;
$type-smaller: 12px;
$type-small: 14px;
$type-base: 16px;
$type-large: 18px;
$type-larger: 20px;
$type-largest: 22px;
$type-jumbo: 24px;

// -----------------------------------------------------------------|
// TYPE LETTER SPACING
// -----------------------------------------------------------------|
$type-space-tightest: -.1em;
$type-space-righter: -.05em;
$type-space-tight: -.025em;
$type-space-normal: 0;
$type-space-loose: .025em;
$type-space-looser: .05em;
$type-space-loosest: .1em;

// -----------------------------------------------------------------|
// TYPE WEIGHTS
// -----------------------------------------------------------------|
$type-weight-1: 100;
$type-weight-2: 200;
$type-weight-3: 300;
$type-weight-4: 400;
$type-weight-5: 500;
$type-weight-6: 600;
$type-weight-7: 700;
$type-weight-8: 800;
$type-weight-9: 900;

// -----------------------------------------------------------------|
// TYPE STYLE
// -----------------------------------------------------------------|
$type-style-n: normal;
$type-style-i: italic;
