//- -----------------------------------------------------------------|
//- FOOTER
//- -----------------------------------------------------------------|
//- Contains all HTML for the footer partial.

footer.footer(role='contentinfo')
