//- -----------------------------------------------------------------|
//- HEADER
//- -----------------------------------------------------------------|
//- Contains all HTML for the header partial.

a.sr-only.sr-only-focusable(href='#content') Skip to main content
header.header(role='banner')
	nav.header-nav(role='navigation')
		ul
			li
				a(href='#') Nav Item
			li
				a(href='#') Nav Item
			li
				a(href='#') Nav Item
			li
				a(href='#') Nav Item
