//- -----------------------------------------------------------------|
//- GLOBAL VAIRABLES
//- -----------------------------------------------------------------|
//- Contains all global variables used in our project.

//- SITE META
//- ---------------------------------|
- var siteName = 'Site'
- var siteUrl = 'http://www.mysite.com'
- var siteLang = 'en'
- var siteAnalytics = 'UA-XXXXX-X'

//- FACEBOOK META
//- ---------------------------------|
- var facebookName = 'FacebookPageName'
- var facebookUrl = 'http://www.facebook.com/' + facebookName
- var facebookAppID = '123456789'

//- TWITTER META
//- ---------------------------------|
- var twitterName = 'Username'
- var twitterUrl = 'http://www.twitter.com/' + twitterName
